body{
    padding: 0px;
    margin: 0px;
    font-family: "Open Sans";
}
#top-bar{
    padding: 1px;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    color: white;
    background-color: #333;
    border-width: 0px 0px 8px 0px;
    border-style: solid;
    border-color: rgb(254, 129, 4);
}
#reader{
    max-width: 1200px;
    margin: auto;
}
h1{
    text-align: center;
    font-size: 70px;
    font-weight: 700;
}
#p1{
    font-size: 28px;
}
#p2{
    font-size: 20px;
    font-weight: bold;
}
#p3{
    font-size: 15px;
    margin-bottom: 30px;
    color: rgba(00, 00, 00, 0.3)
}
.icone{
    margin-left: 15px;
}

/* conteudo so site */
#content{
    max-width: 900px;
    margin: auto;
}
.parafrafos{
    font-size: 28px;
}
h2{
    font-size: 30px;
}
figure{
    margin: 0;
}
.laranja{
    color: rgb(254, 129, 4);
}

#footer{
    margin-top: 200px;
    height: 90px;
    background-color: #333;
}
