body{
    padding: 0px;
    margin: 0px;
    font-family: "Open Sans";
    color: #555;
}
h1, h2{
    color: #111;
}

#top-bar{
    background-color: #333;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 8px;
    border-bottom: 5px solid #fd8a24;
}
.container{
    max-width: 888px;
    margin: auto;
    padding: 30px;
}
#t1{
    font-size: 56px;
    line-height: 64px;
}
#t2{
    font-weight: normal;
    font-size: 20px;
}
#autor{
    font-size: 0.8em;
    font-weight: bold;
}

.redes_sociais{
    margin-top: 10px;
}
.icone{
    width: 20px;
    padding: 10px 10px 10px 0;
}

a{
    text-decoration: none;
}

/* conteudo so site */
#content{
    max-width: 900px;
    margin: auto;
}
.parafrafos{
    font-size: 28px;
}
h2{
    font-size: 30px;
}
figure{
    margin: 0;
}
.laranja{
    color: rgb(254, 129, 4);
}

#footer{
    margin-top: 200px;
    height: 90px;
    background-color: #333;
}
